<script id="sg-action-buttons.html" type="text/ng-template">
    <button type="submit" class="btn btn-sm btn-small sg-column-{{simpleGrid.options.columns.length}}"
            ng-if="simpleGrid.options.showEditButton"
            ng-click="editRequested(row)"
            ng-focus="cellFocused($event, row, null)"
            ng-blur="cellBlurred($event, row, null)"
            ng-keydown="keydown($event, rowIndex, simpleGrid.options.columns.length)"
            ng-disabled="(row.$deleted || simpleGrid.options.disabled)"
            ng-class="{'btn-info': !row.$editable, 'btn-success': row.$editable}"
            >
        <i class="glyphicon"
           ng-class="{'glyphicon-pencil icon-pencil': !row.$editable, 'glyphicon-ok icon-ok': row.$editable}"></i>
    </button>
    <button type="button"
            class="btn btn-sm btn-small sg-column-{{simpleGrid.options.columns.length+2}}"
            ng-if="simpleGrid.options.showDeleteButton"
            ng-click="toggleDeleted(row)"
            ng-focus="cellFocused($event, row, null)"
            ng-blur="cellBlurred($event, row, null)"
            ng-keydown="keydown($event, rowIndex, simpleGrid.options.columns.length+2)"
            ng-disabled="simpleGrid.options.disabled"
            ng-class="{'btn-danger': !row.$deleted, 'btn-warning': row.$deleted}"
            >
        <i class="glyphicon icon-white"
           ng-class="{'glyphicon-remove icon-remove': !row.$deleted, 'glyphicon-repeat icon-repeat': row.$deleted}"></i>
    </button>
</script>

<script id="sg-editable-cell.html" type="text/ng-template">
    <div ng-switch="column.inputType">
        <select ng-switch-when="select"
                class="form-control sg-column-{{columnIndex}}"
                ng-model="row[column.field]"
                ng-required="column.$required(row) && !isDummy"
                ng-focus="cellFocused($event, row, column); options = column.$options(row)"
                ng-blur="cellBlurred($event, row, column)"
                ng-keydown="keydown($event, rowIndex, columnIndex)"
                ng-disabled="((row.$deleted || simpleGrid.options.disabled) || column.$disabled(row))"
                ng-init="options = column.$options(row)"
                ng-options="option.value as option.title for option in options"></select>

        <div ng-switch-when="custom-template">
            <div ng-include="column.inputTemplate"></div>
        </div>

        <input ng-switch-default
               class="form-control sg-column-{{columnIndex}}"
               type="{{ column.inputType || 'text' }}"
               ng-model="row[column.field]"
               ng-required="column.$required(row) && !isDummy"
               placeholder="{{column.placeholder}}"
               ng-focus="cellFocused($event, row, column)"
               ng-blur="cellBlurred($event, row, column)"
               ng-keydown="keydown($event, rowIndex, columnIndex)"
               ng-readonly="((row.$deleted || simpleGrid.options.disabled) || column.$disabled(row))" />
    </div>
</script>

<script id="sg-row.html" type="text/ng-template">
    <td ng-if="simpleGrid.options.allowMultiSelect"
        ng-hide="true" <!-- hide this and stop bug -->
        class="sg-multi-select-cell">
        <input class="form-control sg-column--1"
               type="checkbox"
               ng-disabled="row.$deleted"
               ng-focus="cellFocused($event, row, null)"
               ng-blur="cellBlurred($event, row, null)"
			   ng-checked="row.$selected"
               style="cursor: pointer"
               ng-keydown="keydown($event, rowIndex, -1)"/>
    </td>
            
    <td ng-if="!gridIsEditable || (simpleGrid.options.perRowEditModeEnabled && !row.$editable)"
        ng-repeat="column in simpleGrid.options.columns"
        ng-init="columnIndex = $index"
        class="sg-data-cell"
        ng-dblclick="startEditingCell($event, rowIndex, columnIndex, row, column)"
        ng-switch="column.inputType">
        <!-- non-editable checkbox -->
        <input ng-switch-when="checkbox"
               type="checkbox"
               ng-checked="row[column.field]"
               disabled="disabled"
               class="form-control"/>
        <!-- non-editable text -->
        <span ng-switch-default>
            <a ng-if="column.getUrl" href="{{getCellHref(row, column)}}">{{getCellText(row, column)}}</a>
            <span ng-if="!column.getUrl">{{getCellText(row, column)}}</span>
        </span>
    </td>

    <td ng-if="gridIsEditable && (!simpleGrid.options.perRowEditModeEnabled || row.$editable)"
        ng-repeat="column in simpleGrid.options.columns"
        ng-init="columnIndex = $index"
        class="sg-data-cell"
        ng-include="'sg-editable-cell.html'">
    </td>

    <td ng-if="simpleGrid.options.showDeleteButton || simpleGrid.options.showEditButton" class="sg-actions-cell"
        ng-include="'sg-action-buttons.html'">
    </td>
</script>

<!--<h1>test</h1>-->
<table class="table table-hover table-striped simple-grid">

    <thead>
    <tr>
        <th ng-hide="true" ng-if="simpleGrid.options.allowMultiSelect" class="sg-multi-select-cell">&nbsp;</th>
        <th ng-repeat="column in simpleGrid.options.columns" style="width: {{column.width}}px">{{column.$title}}</th>
        <th ng-if="simpleGrid.options.showDeleteButton" class="sg-actions-cell"></th>
    </tr>
    </thead>

    <tbody>
        <tr ng-if="!data.length">
            <td>
                <em ng-if="!simpleGrid.dataLoaded">Loading...</em>
                <em ng-if="simpleGrid.dataLoaded">{{simpleGrid.noDataMsg}}</em>
            </td>
        </tr>
      
        <!--ng-click="setFocusedRow(row)"-->
        <tr ng-repeat="row in page"
            ng-init="rowIndex = $index"
            ng-form="{{formName($index)}}"
            id="{{formName($index)}}"
            ng-class="{ deleted: row.$deleted, 
                        added: row.$added, 
                        selected: row.$selected,
                        focused: row.$focused, 
                        editable: row.$editable || !simpleGrid.options.perRowEditModeEnabled,
                        'not-editable': !row.$editable && simpleGrid.options.perRowEditModeEnabled
                      }"
            ng-include="'sg-row.html'">
        </tr>

        <!-- Last Row Editable -->
        <tr ng-init="isDummy = true" ng-class="{'alert alert-danger' : onError}"
            ng-if="simpleGrid.options.showAddRow">

            <td ng-hide="true" ng-if="simpleGrid.options.allowMultiSelect"></td>
            <td ng-repeat="column in simpleGrid.options.columns track by $index"
                ng-init="columnIndex = $index"
                class="sg-data-cell"
                ng-include="'sg-editable-cell.html'">
            </td>
            <td class="sg-actions-cell ng-scope">
                <button type="submit"
                        class="btn btn-sm btn-small btn-success"
                        ng-click="toggleAdd(row)">
                    <i class="glyphicon glyphicon-plus icon-plus"></i>
                </button>
            </td>
        </tr>

        <!-- Dummy Row -->
        <tr class="sg-dummy-row"
            ng-if="simpleGrid.options.perRowEditModeEnabled"
            ng-init="isDummy = true">
            <td ng-repeat="column in simpleGrid.options.columns"
                ng-init="columnIndex = $index"
                class="sg-data-cell"
                ng-include="'sg-editable-cell.html'"></td>
            <td ng-if="simpleGrid.options.showDeleteButton || simpleGrid.options.showEditButton"
                class="sg-actions-cell"
                ng-include="'sg-action-buttons.html'"></td>
        </tr>

    </tbody>
</table>

<!-- Pagination -->
<ul ng-if="scope.page.length > 0"
    class="pagination pagination-sm pull-right" 
    style="margin: -20px 10px 10px 0">
    <li><a class="glyphicon glyphicon-menu-left" 
           style="color:black" ng-click="movePage(-1)"></a></li>
    <li><a class="glyphicon" style="font-family:Arial; color:black; cursor:default">
        {{simpleGrid.options.pageNum+1}}</a></li>
    <li><a class="glyphicon glyphicon-menu-right"
           style="color:black" ng-click="movePage(1)"></a></li>
</ul>
<div style="clear: both"></div>